.summary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}

.summary-header h2 {
    margin: 0px -10px 0px;
}

.refresh-button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-right: -10px;
}

.summary-icon{
    width: 25px;
    height: 25px;
}

.summary-container{
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}